html,
body {
	background: #000;
	font: 400 14px "Open Sans", Arial, Verdana;
	line-height: 24px;
}
section {
	padding: 40px 0 80px 0;
	background: #fff;
	border-bottom: 20px solid #ccc;
}
/* NAVIGATION */
.navbar {
	z-index: 999;
	margin-bottom: -100px;
	min-height: 70px;
}
.navbar-brand {
	padding: 10px 15px;
	height: auto;
}
.navbar-brand > img {
	height: 50px;
}
.navbar-nav > li > a {
	display: block;
	padding-top: 25px;
	padding-bottom: 25px;
}
.navbar-inverse {
	background: rgba(0,0,0,0.75);
}
.navbar-inverse .navbar-nav > li > a {
	color: #bbb;
}
.navbar-nav {
	float: right;
}